<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我們需要訪問您的照片庫來讓您選擇大頭照。</string>
	<key>NSCameraUsageDescription</key>
	<string>我們需要使用您的相機來讓您拍攝照片。</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>我們需要訪問您的位置以顯示距離最近的店鋪。</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>我們需要持續使用您的位置來提供最佳的店鋪導航服務。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.80122466004-ps1gsbcatrk1g68l6rpi0blqj3aaukuv</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
