# Ignore GoogleService-Info.plist
GoogleService-Info.plist

# Ignore Xcode build products
build/
DerivedData/

# Ignore Xcode project files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Ignore xcworkspace
*.xcworkspace

# Ignore CocoaPods dependencies
Pods/
Podfile.lock

# Ignore Carthage dependencies
Carthage/Build/

# Ignore Swift Package Manager
.build/

# Ignore fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Ignore personal settings
*.orig
.DS_Store
.idea/
.vscode/
.env

# Ignore temporary files
*.swp
*.swo
*.tmp
*~

# Ignore Firebase emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log
